.appWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.menuWrapper {
  width: 65px;
  height: 100%;
}

.editorWrapper {
  flex: 1;
  overflow-y: scroll;
}

.viewerWrapper {
  flex: 1;
  overflow-y: scroll;
}
